@model Lab4N.Models.ViewModels.BrokeragesViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Title
            </th>
            <th>
               Fee 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Brokerages) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fee)
            </td>
            <td>
                <a asp-action="" asp-route-id="@item.Id">Select</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@if(Model.Clients != null){
    @if(Model.Clients.Count() > 0)
    {
         <h2>Subscribers to the broker</h2>
    <table class="table">
        <thead>
            <tr>
                <td>
                    Name
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach(var i in Model.Clients) //is clients 
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => i.FullName)
                    </td>
                </tr>
            }
        </tbody>

    </table>
    }
    else{
    <h2>No one is subscribed</h2>
}
}
